version: '3'

services:
  app-dev:
    container_name: ac-multiposter-dev
    image: node:22-alpine
    working_dir: /app
    volumes:
      - ./:/app
    network_mode: host
    command: sh -c "/app/startup-dev.sh"